// ==================================
//               index.html
//===================================

.slogan {
    padding-left: 25%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 5rem;
    font-weight: 300;
}

#greatMan {
    padding: 3%;
}

.fullImg {
    width: 100%;
    margin: 0 auto;
}

#indexGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    div {
        width: 100%;
        margin: 15vh 0;

        img {
            width: 70%;
        }
    }
}

// ==================================
//               lounger.html
//===================================

#grid {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    align-items: center;
}

.grid-left-lounger {
    background: url(../img/section-voyager.jpg);
    @include background;
}

.grid-right-lounger {
    background-color: $color100;
}

// ==================================
//               experience.html
//===================================

#grid {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    align-items: center;
}

.grid-left-experience {
    background: url(../img/section-experience-1.jpg);
    @include background;
}

.grid-right-experience {
    background-color: $color100;
}

// ==================================
//               shop.html
//===================================

#grid {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    align-items: center;
}

.grid-left-shop {
    background: url(../img/section-composition4.jpg);
    @include background
}

.grid-right-shop {
    background-color: $color100;
    text-align: center;
}

.button {
    background-color: $color400;
}

// ==================================
//               inspiration.html
//===================================

.video {
    display: flex;

    video {
        width: 60%;
        margin: 20vh auto;
    }
}

.exist {
    padding: 0 15% 10%;
}

#gridInspiration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10vh;
    width: 80vw;

}

.grid-image-inspiration-top {
    width: 100%;
    background: url(../img/ETC_6.webp);
    //MIXIN ERSTELLEN
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 70vh;
}

.grid-image-inspiration-bottom {
    width: 100%;
    background: url(../img/ETC_5.webp);
    //MIXIN ERSTELLEN
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    height: 70vh;
}

.grid-article-inspiration-right {
    width: 80%;
    background-color: $color100;
}

.grid-article-inspiration-left {
    width: 80%;
    justify-self: right;
    background-color: $color100;
}

// ==================================
//               subscribe.html
//===================================

.subscribe {
    @include flexit;
    flex-direction: column;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        font-size: 3rem;

        input:first-of-type {
            width: 40vw;
            padding: 10px 30px;
        }

        input:last-of-type {
            width: 10vw;
            padding: 10px 30px;
            margin: 15vw;
        }
    }
}